{% extends 'base.html' %}
{% block content %}

<h1>Band Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ band.name }}</span>
        <p>Genre: {{ band.genre }}</p>
        <p>{{ band.description|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'band_update' band.id %}">Edit</a>
        <a href="{% url 'band_delete' band.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_musician' band.id %}" method="POST">
      {% csrf_token %}
      {{ musician_form.as_p }}
      <input type="submit" class="btn" value="Add Musician">
    </form>
    <br>
    
      <div class="card-panel center-align purple-text">{{ band.name }} currently has {{band.musician_set.count}} band members</div>
    
    <table class="striped">
      <thead>
        <tr><th>Name</th><th>Primary Instrument</th></tr>
      </thead>
      <tbody>
        {% for musician in band.musician_set.all %}
          <tr>
            <td>{{musician.name}}</td>
            <td>{{musician.get_instrument_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col s6">
  <h3>{{ band.name }}'s Awards</h3>
  {% if band.awards.count %}
    {% for award in band.awards.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <span>{{ award.name }}</span>
          <div class="card-action">
            <form action="{% url 'unassoc_award' band.id award.id %}" method="DELETE">
              {% csrf_token %}
              <button type="submit" class="btn">Delete</button>
            </form>
        </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>No Awards 😿</h5>
  {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Awards</h3>
    {% if awards.count %}
      {% for award in awards.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ award.name }}</span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_award' band.id award.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{band.name}} Already Has All Awards Available</h5>
    {% endif %}
  </div>
</div>

<script>
  const selectEl = document.getElementById('id_instrument');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}